<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a  href="/">
      <%= image_tag 'logo_text', width: "112", height: "80", class: "logo"%>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarInstastronaut">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarInstastronaut" class="navbar-menu">

    <div class="navbar-end">
    <% if !user_signed_in? %>
      <div class="navbar-item">
        <div class="buttons">
          <%= link_to 'Sign Up', new_user_registration_path, class: "button is-danger" %>
          <%= link_to 'Log In', new_user_session_path, class: "button is-light" %>
        </div>
      </div>
      <% else %>
      <div class="navbar-item has-dropdown is-hoverable min-width-150">
        <a href="" class="navbar-item"><%= current_user.full_name %></a>
        <div class="navbar-dropdown">
          <%= link_to "Pofile", edit_user_registration_path, class: "navbar-item" %>
          <a class="navbar-item">Dashboard</a>
          <hr class="navbar-divider">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "navbar-item" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</nav>
<div>
<div class="hero-head material-shadow">
  <div class="tabs">
    <ul>
      <li class="is-active"><a>Pictures</a></li>
      <li><a>Music</a></li>
      <li><a>Videos</a></li>
      <li><a>Documents</a></li>
      <li><a>Documents</a></li>
      <li><a>Documents</a></li>
      <li><a>Documents</a></li>
      <li><a>Documents</a></li>
      <li><a>Documents</a></li>
      <li><a>Documents</a></li>
      <li><a>Documents</a></li>
      <li><a>Documents</a></li>
      <li><a>Documents</a></li>
      <li><a>Documents</a></li>
      <li><a>Documents</a></li>
      <li><a>Documents</a></li>
      <li><a>Documents</a></li>
      <li><a>Documents</a></li>
      <li><a>Documents</a></li>
      <li><a>Documents</a></li>
      <li><a>Documents</a></li>
      <li><a>Documents</a></li>
      <li><a>Documents</a></li>
      <li><a>Documents</a></li>
      <li><a>Documents</a></li>
      <li><a>Documents</a></li>
      <li><a>Documents</a></li>
      <li><a>Documents</a></li>
      <li><a>Documents</a></li>
      <li><a>Documents</a></li>
    </ul>
  </div>
</div>
</div>

<script>
$(document).ready(function() {

  // Check for click events on the navbar burger icon
  $(".navbar-burger").click(function() {

    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      $(".navbar-burger").toggleClass("is-active");
      $(".navbar-menu").toggleClass("is-active");

  });
});
</script>
